{% extends "base.html" %}
{% block content %}
<div class='pagetitle'>
  <h1>Home</h1>
</div>
<div class='pagetext topic'>
  <p>Welcome to WebComparisons. A site to compare website content accross different pages.</p>
</div>
<div class='pagetext topic option_border'>
  <dl>
    <dt><h3><a href="/compare">Compare</a></h3></dt>
    <dd>Compare an entire site with another, represented in various graphs.</dd>
    <dt><h3><a href="/word_comparison">Word Comparison</a></h3></dt>
    <dd>Compare a site with another based on a word of your choice.</dd>
  </dl>
</div>
{% endblock %}